<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->
<app-login></app-login>
<!-- <app-scroller></app-scroller> -->




<ul>
	<li *ngFor="let i of arr">{{i}}</li>
</ul>

<select>
  <option *ngFor="let i of arr">{{i}}</option>
</select>

<div>
	<p *ngIf="islogin; else demo1">Logged In</p>
	<ng-template #demo1>not logged in </ng-template>
</div>

<input type="text" />
<button class="btn btn-success" (click)="hello()">Click</button>

<p>login count : {{count}}</p>

<style>
	.pd {
		margin: 10px;
	}
</style>
<button class="btn btn-success pd" (click)="btn1()">btn 1</button>
<button class="btn btn-success pd" (click)="btn2()">btn 2</button>
<button class="btn btn-success pd" (click)="btn3()">btn 3</button>

<img src="{{imgsrc}}" style="height=100px; width:100px" />